@charset"UTF-8"
@font-face{
	font-family: 'FonteLogo';
	src:url("../_fonts/bubblegum-sans-regular.otf");

}
aside#corpo-full{
	display: block;
}

section#conteudo{
	width: 900px;
	margin: auto;
}
iframe#frame-specs{

}